@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&subset=latin-ext');
/* font-family: 'Montserrat', sans-serif; */

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 10px;
}

/* Mobile -> Pc */

/* First section style */
section.nsp-container-stacked.home-container {
}

/* Home header */
div.home-header-container {
    height: 15%;
    background-color: #3A3A3A;
    padding: 0 20px 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.home-header-container div.logo {
    height: 50px;
    width: 50px;
    background-image: url('img/logoBoiz.svg');
    background-size: cover;
}

div.home-header-container div.name {
    position: relative;
    color: #fff;
    font-size: 4rem;
    padding: 5px;
    font-weight: 500;
}

div.home-header-container div.name::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 80%;
    height: 2px;
    background-color: rgba(255, 161, 53, 0.5);
}

div.home-header-container div.lang {
    width: 50px;
    height: 50px;
    background-image: url('img/lang.svg');
    background-size: cover;
}

/* ------- */
/* Home center  (photo) */

div.home-photo-container {
    position: relative;
    height: 70%;
    overflow: hidden;
}

div.home-photo-container div.photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/home-photo.jpeg');
    background-size: cover;
    background-position: center center;
}

div.home-photo-container div.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #ECECEC;
    font-weight: 400;
}

/* -------- */
/* Home footer */

div.home-footer-container {
    height: 15%;
    background-color: #E3E3E3;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 0;
}

div.home-footer-container div.nav-container {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    max-width: 300px;
    align-items: center;
    justify-content: space-around;
}

div.home-footer-container div.nav-container div.nav-text {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 300;
}

div.home-footer-container div.nav-container div.nav-line {
    height: 80%;
    width: 2px;
    background-color: #3A3A3A;
    transform-origin: 50% 50%;
    transform: rotate(25deg);
}

div.home-footer-container div.scroll-down {
    position: relative;
    box-sizing: border-box;
    height: 45px;
    width: 20px;
    margin-top: 10px;
    border: 3px solid #FFA135;
    border-radius: 50px;
}

div.home-footer-container div.scroll-down::after {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -100%);
    content: '';
    width: 60%;
    height: 40%;
    background-color: #FFA135;
    border-radius: 50px;
    animation: scroll-down-anim 2s 3s infinite;
}

@keyframes scroll-down-anim {
    0% {
        top: 90%;
    }

    25% {
        top: 45%;
    }

    50% {
        top: 90%;
    }

    100% {
        top: 90%;
    }
}

@media (max-height: 450px) and (orientation: landscape) {

    /* Home header */

    div.home-header-container {
        height: 17%;
    }

    div.home-header-container div.logo {
        height: 40px;
        width: 40px;
    }

    div.home-header-container div.name {
        font-size: 3rem;
    }

    div.home-header-container div.lang {
        width: 30px;
        height: 30px;
    }

    /* Home center */

    div.home-photo-container {
        height: 60%;
    }

    /* Home footer */

    div.home-footer-container {
        height: 23%;
    }

}

@media (max-height: 340px) and (orientation: landscape) {

    div.home-footer-container div.scroll-down {
        margin-top: 5px;
    }
}

@media (min-height: 650px) {
    div.home-footer-container div.scroll-down {
        margin-top: 15px;
    }

    div.home-photo-container {
        height: 70%;
    }

    div.home-footer-container {
        height: 15%;
    }
}

@media (min-height: 750px) {
    div.home-footer-container div.scroll-down {
        margin-top: 25px;
    }

    div.home-photo-container {
        height: 72%;
    }

    div.home-footer-container {
        height: 13%;
    }
}

@media (min-height: 1000px) {
    div.home-photo-container {
        height: 77%;
    }

    div.home-footer-container {
        height: 8%;
    }
}

@keyframes home-text-photo {
    0% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes home-photo {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 1200px) {

    div.home-photo-container div.photo{
        animation-name: home-photo;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
    }

    div.home-photo-container div.text {
        font-size: 6rem;
        animation-name: home-text-photo;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
    }


    div.home-header-container div.lang, div.home-header-container div.logo, div.home-footer-container div.nav-container div.nav-text {
        cursor: pointer;
    }
}
/* TODO: */
/* 
    klikniecie na nava powoduje przejscie do danej sekcji, klikniecie na logo - przejscie do home, klikniecie na 'scrolla' na dole - przejscie do drugiej sekcji
*/
/* ====================================================================== */
/*  Second section */

section.product-container {
    background-color: #EEEEEE;
}

/* Product header */

div.product-header {
    width: 100%;
    height: auto;
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 5px 0;
}

/* Product img */

div.product-img {
    min-width: 320px;
    max-height: 30%;
    margin: 0;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    /* overflow: hidden; */
    z-index: -1;
    margin-bottom: 40px;
}

div.product-img img {
    width: 100%;
}

/* Product description */

div.product-description {
    width: 90%;
    padding: 0 10px;
    color: #636268;
    font-size: 1.2rem;
    line-height: 150%;
}

/* Product features */

div.product-features-container {
    display: flex;
    flex-direction: row;
}

div.product-features-container div.product-features {
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    color: #636268;
}

div.product-spec {
    display: none;
    color: #636268;
}

@media (min-height: 600px) and (orientation: portrait) {
    div.product-header {
        font-size: 4.5rem;
    }

    div.product-description {
        font-size: 1.4rem;
    }

    div.product-features-container div.product-features {
        font-size: 1.3rem;
    }
}

@media (min-height: 650px) and (orientation: portrait) {
    div.product-header {
        font-size: 4.5rem;
    }

    div.product-description {
        font-size: 1.5rem;
    }

    div.product-features-container div.product-features {
        font-size: 1.4rem;
    }
}

@media (min-height: 700px) and (orientation: portrait) {
    div.product-header {
        font-size: 5rem;
    }

    div.product-description {
        font-size: 1.6rem;
        width: 85%;
    }

    div.product-features-container div.product-features {
        font-size: 1.5rem;
    }
}

@media (min-height: 800px) and (orientation: portrait) {
    div.product-header {
        font-size: 5rem;
    }

    div.product-description {
        line-height: 160%;
    }

    div.product-features-container div.product-features {
        padding-top: 25px;
        line-height: 150%;
    }
}

@media (min-width: 700px) and (min-height: 800px) {
    div.product-header {
        font-size: 7rem;
    }

    div.product-description {
        line-height: 160%;
        font-size: 2.2rem;
    }

    div.product-features-container div.product-features {
        padding-top: 25px;
        line-height: 150%;
        font-size: 2rem;
    }

    div.product-img{
        margin-bottom: 15vh;
    }
}

@media (min-width: 1000px) and (min-height: 1200px) {
    div.product-header {
        font-size: 9rem;
    }

    div.product-description {
        font-size: 3rem;
    }

    div.product-features-container div.product-features {
        font-size: 2.5rem;
    }

    div.product-img{
        margin-bottom: 15vh;
    }
}

@media (orientation: landscape) {
    div.product-img {
        width: 50%;
        min-width: 50%;
    }

    div.product-description {
        width: 50%;
        transform: translateY(-80%);
    }

    div.product-features-container {
        transform: translateY(-160%);
    }
}

@media (min-height: 345px) and (orientation: landscape) {

    div.product-description {
        width: 50%;
        transform: translateY(-80%);
    }

    div.product-features-container {
        transform: translateY(-120%);
    }
}

@media (min-height: 376px) and (orientation: landscape) {

    div.product-description {
        width: 50%;
        transform: translateY(-100%);
        font-size: 1.4rem;
    }

    div.product-features-container {
        transform: translateY(-80%);
    }

    div.product-features-container div.product-features {
        font-size: 1.4rem;
    }
}

@media (min-height: 360px) and (min-width: 800px) and (orientation: landscape) {

    div.product-description {
        width: 50%;
        transform: translateY(-100%);
        font-size: 1.4rem;
    }

    div.product-features-container {
        transform: translateY(-80%);
    }

    div.product-features-container div.product-features {
        font-size: 1.4rem;
    }
}

@media (min-height: 700px) and (orientation: landscape) {

    div.product-header {
        font-size: 9rem;
    }

    div.product-description {
        width: 50%;
        transform: translateY(-60%);
        font-size: 2.5rem;
    }

    div.product-features-container {
        transform: translateY(-130%);
    }

    div.product-features-container div.product-features {
        font-size: 2rem;
    }
}

@media (min-height: 1000px) and (orientation: landscape) {

    div.product-header {
        font-size: 9rem;
    }

    div.product-description {
        width: 50%;
        transform: translateY(-100%);
        font-size: 3rem;
    }

    div.product-features-container {
        transform: translateY(-150%);
    }

    div.product-features-container div.product-features {
        font-size: 2.8rem;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {

    div.product-header {
        font-size: 9rem;
    }

    div.product-img {
        min-width: 320px;
        max-height: 30%;
        max-width: 600px;
    }

    div.product-description {
        width: 50%;
        transform: translateY(-70%);
        font-size: 2.5rem;
    }

    div.product-features-container {
        transform: translateY(-130%);
    }

    div.product-features-container div.product-features {
        font-size: 2rem;
        flex-grow: 2;
        max-width: 320px;
    }

    div.product-spec {
        display: block;
        font-size: 1.5rem;
    }
}

@media (min-width: 1250px) and (orientation: landscape) {

    div.product-header {
        font-size: 9rem;
    }

    div.product-img {
        min-width: 320px;
        max-height: 30%;
        max-width: 600px;
    }

    div.product-description {
        width: 50%;
        transform: translateY(-70%);
        font-size: 2.5rem;
    }

    div.product-features-container {
        transform: translateY(-90%);
    }

    div.product-features-container div.product-features {
        font-size: 2rem;
        flex-grow: 2;
        max-width: 320px;
    }

    div.product-spec {
        display: block;
        font-size: 1.5rem;
    }
}

/* =========================================================================== */
/* Third section */

div.about-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/about_back_small.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

div.about-img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.65);
}

div.about-text-container {
    width: 100%;
    height: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.about-text-container div.header {
    color: #E2E2E2;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}

div.about-text-container div.text {
    color: #D2D2D2;
    font-size: 2rem;
    padding: 15px 25px;
    text-align: center;
    line-height: 130%;
}

@media (min-height: 600px) {

    div.about-text-container div.header {
        font-size: 5.4rem;
        padding: 20px;
    }

    div.about-text-container div.text {
        font-size: 2.3rem;
        padding: 15px 30px;
    }

}

@media (min-height: 700px) {

    div.about-text-container div.header {
        font-size: 6rem;
        padding: 20px;
    }

    div.about-text-container div.text {
        font-size: 2.5rem;
        padding: 15px 35px;
    }

}

@media (min-height: 1000px) {

    div.about-text-container div.header {
        font-size: 8rem;
        padding: 30px;
    }

    div.about-text-container div.text {
        font-size: 4rem;
        padding: 15px 50px;
    }

}

@media (min-height: 700px) and (orientation: landscape) {

    div.about-text-container div.header {
        font-size: 8rem;
        padding: 30px;
    }

    div.about-text-container div.text {
        font-size: 4rem;
        padding: 15px 50px;
    }

}

@media (min-height: 1250px) {

    div.about-text-container div.header {
        font-size: 10rem;
        padding: 25px;
    }

    div.about-text-container div.text {
        font-size: 5.2rem;
        padding: 15px 65px;
    }

}

@media (min-height: 1000px) and (orientation: landscape) {

    div.about-text-container div.header {
        font-size: 10rem;
        padding: 20px;
    }

    div.about-text-container div.text {
        font-size: 5rem;
        padding: 15px 70px;
    }

}

@media (min-width: 1125px) and (min-height: 600px) and (orientation: landscape) {

    section.nsp-container-stacked.about-container {
        display: flex;
        flex-direction: row;
        background-color: #E3E3E3;
    }

    div.about-img-container {
        position: static;
        width: 50%;
        height: 100%;
        background-image: url('img/about_back_small.jpg');
        background-size: cover;
        background-position: center center;
        z-index: 2;
        flex-grow: 1;
    }

    div.about-img-container::after {
        content: none;
    }

    div.about-text-container {
        width: 50%;
        height: 100%;
        z-index: 1;
        flex-grow: 1;
        background-image: url('img/about_text_back.png');
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    div.about-text-container div.header {
        color: #636268;
        font-weight: 600;
        padding-bottom: 100px;
    }
}